<html>
  <head>
    <title>Flask Framework Training</title>
  </head>
  <body>
    <div>
      <img src="{{ url_for('static', filename='images/logo.png') }}">
    </div>
    <h1>Hello {{ user }}</h1>
    <h2>Testing</h2>
    <h3>Another heading</h3>
    <h4>Next heading.</h4>
    <p>Welcome to the world of Flask!</p>
    <div>
      <img src="{{ external_image }}">
    </div>
    <br/>
    <hr/>
    <div align="center">
        <form action="/{{ user }}" method="post">
            <textarea name="said_it" placeholder="Say Something"></textarea>
            <button type="submit">Say it!</button>
        </form>
        <pre> I said this: {{ said }}</pre>
    </div>
    <hr/>
  </body>
</html>